name: Build Kernel SM-T285

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          ref: 'cm-14.1' # Nhánh chứa code bạn đã tìm thấy

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-linux-gnueabi

      - name: Build Kernel
        run: |
          export ARCH=arm
          export CROSS_COMPILE=arm-linux-gnueabi-
          
          # Thiết lập cấu hình
          make gtexswifi-dt_defconfig
          
          # Biên dịch kernel
          make -j$(nproc)
          
      - name: Upload Kernel Image
        uses: actions/upload-artifact@v4
        with:
          name: kernel-image
          path: arch/arm/boot/zImage*
